@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.headingOne {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #151515;
}

.headingTwo {
  font-size: 2.8rem;
  line-height: 1.17;
  font-weight: 400;
  color: #151515;
}

.headingThree {
  font-size: 2.2rem;
  line-height: 1.3;
  color: #151515;
  font-weight: 400;
}

.headingFour {
  font-size: 2.2rem;
  line-height: 1.28;
  color: #151515;
}

.headingFive {
  font-size: 2rem;
  line-height: 1.45;
  color: #151515;
}

.headingSix {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #151515;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 1.72;
  color: #9c9c9c;
}

.listElement {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 1.72;
  color: #9c9c9c;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0px;
}

.listSpan {
  color: #ffe400;
  font-weight: bold;
  font-size: 1.6rem;
  padding-right: 10px;
}

.listSpanBold {
  font-weight: bold;
}

.button {
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 50px;
  border: 1px solid #ffe400;
  background-color: #ffe400;
  padding: 1.5rem 2.5rem;
  -webkit-transition: color 0.5s, background-color 0.5s, border 0.5s;
  transition: color 0.5s, background-color 0.5s, border 0.5s;
}

.button:hover {
  color: #ffe400;
  background-color: #151515;
  border: 1px solid #151515;
}

.fontWeight400 {
  font-weight: 500;
}

.margin10 {
  margin: 10px 0px;
}

.margin20 {
  margin: 20px 0px;
}

.white {
  color: #e6e6e6;
}

.spanColorYellow {
  color: #ffe400;
}

@media screen and (min-width: 760px) {
  .headingOne {
    font-size: 4rem;
  }
  .headingTwo {
    font-size: 3rem;
  }
  .headingThree {
    font-size: 2.4rem;
  }
  .headingFour {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .headingOne {
    font-size: 5.6rem;
  }
  .headingTwo {
    font-size: 3.8rem;
  }
  .headingThree {
    font-size: 2.5rem;
  }
}

@-webkit-keyframes zigZag {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes zigZag {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes zigZagTwo {
  0% {
    stroke-dashoffset: 130;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes zigZagTwo {
  0% {
    stroke-dashoffset: 130;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes zigZagThree {
  0% {
    stroke-dashoffset: 140;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes zigZagThree {
  0% {
    stroke-dashoffset: 140;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes circleOneDecoration {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes circleOneDecoration {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes circleGrayDecoration {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes circleGrayDecoration {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes smoke {
  0% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
    scale(1) {
    }
  }
  50% {
    opacity: 1;
    pointer-events: none;
  }
  100% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: translateX(300px) translateY(-300px) rotate(720deg);
            transform: translateX(300px) translateY(-300px) rotate(720deg);
    scale(2) {
    }
  }
}

@keyframes smoke {
  0% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
    scale(1) {
    }
  }
  50% {
    opacity: 1;
    pointer-events: none;
  }
  100% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: translateX(300px) translateY(-300px) rotate(720deg);
            transform: translateX(300px) translateY(-300px) rotate(720deg);
    scale(2) {
    }
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: radial-gradient(#c4c4c4 1px, #0000 0);
  background-position: 50%;
  background-size: 80px 80px;
  overflow-x: hidden;
}

.header {
  position: relative;
  width: 100vw;
  min-height: 30vh;
  max-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: radial-gradient(#c4c4c4 1px, #F6F6F6 0);
  background-position: 50%;
  background-size: 80px 80px;
  padding: 20px 50px 50px;
  overflow: hidden;
}

.header__wrapper {
  position: relative;
}

.header__imageArticle {
  display: none;
}

.header__paragraph {
  position: absolute;
  top: 220%;
  color: #9c9c9c;
  font-size: 1.4rem;
}

.header__linkOne {
  text-decoration: none;
  color: #9c9c9c;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__linkTwo {
  text-decoration: none;
  color: #151515;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__spanLinkOne:hover .header__linkOne {
  color: #ffe400;
}

.header__spanLinkTwo:hover .header__linkTwo {
  color: #ffe400;
}

.header__span {
  padding: 0px 7px;
}

.header__decorationZigZagOne {
  position: absolute;
  top: -100%;
  left: 70%;
  fill: transparent;
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
  -webkit-animation: zigZagThree 3s ease-out alternate infinite;
          animation: zigZagThree 3s ease-out alternate infinite;
}

.header__decorationCircleOne {
  position: absolute;
  top: 150%;
  left: 80%;
  width: 30px;
  height: 30px;
  background-color: #ffe400;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: circleOneDecoration 1s linear alternate infinite;
          animation: circleOneDecoration 1s linear alternate infinite;
}

.header__decorationCircleOne::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 40%;
  background-color: white;
  border-radius: 50%;
}

.header__decorationTriangleOne, .header__decorationZigZagTwo {
  display: none;
}

.services {
  width: 100vw;
  padding: 50px 20px;
}

.services__imageArticle {
  display: none;
}

.precontact {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../image/contact-background.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 20px;
}

.precontact__headingTwo {
  color: white;
  margin-bottom: 30px;
}

.contact {
  width: 100vw;
  padding: 50px 20px 0px;
  overflow-x: hidden;
}

.contact__heading {
  font-size: 2rem;
  line-height: 1.45;
  color: #151515;
}

.contact__wrapper {
  width: 100%;
}

.contact__textArticle {
  width: 100%;
  margin: 0px 0px 80px;
}

.contact__boxContact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.contact__boxIcon {
  padding-right: 20px;
}

.contact__icon {
  width: 20px;
}

.contact__iconSocialmedia {
  width: 15px;
  margin-right: 20px;
}

.contact__paragraph {
  font-weight: 400;
}

.contact__imageArticle {
  width: 100%;
  position: relative;
}

.contact__image {
  position: relative;
  width: 100%;
  z-index: 1;
}

.contact__decorationBigYellowCircle {
  position: absolute;
  top: -6%;
  left: -20%;
  width: 300px;
  height: 300px;
  background-color: #ffe400;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__decorationBigYellowCircle::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 40%;
  background-color: white;
  border-radius: 50%;
}

.contact__decorationZigZagOne {
  position: absolute;
  top: -20%;
  left: 70%;
  fill: transparent;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  -webkit-animation: zigZagTwo 2s ease-out alternate infinite;
          animation: zigZagTwo 2s ease-out alternate infinite;
}

.contact__decorationZigZagTwo {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    width: 1300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__textArticle {
    width: 50%;
  }
  .header__imageArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
  }
  .header__paragraph {
    position: absolute;
    top: 260%;
    color: #9c9c9c;
    font-size: 1.4rem;
  }
  .header__image {
    position: absolute;
    top: -190%;
    left: 38%;
    z-index: 1;
  }
  .header__decorationBigYellowCircle {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 300px;
    height: 300px;
    background-color: #ffe400;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__decorationBigYellowCircle::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: #F6F6F6;
    border-radius: 50%;
  }
  .services {
    width: 100vw;
    padding: 50px 20px;
  }
  .services__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__imageArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__textArticle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contact__decorationZigZagOne {
    position: absolute;
    top: 0%;
    left: 0%;
    fill: transparent;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-animation: zigZagTwo 2s ease-out alternate infinite;
            animation: zigZagTwo 2s ease-out alternate infinite;
  }
  .contact__decorationZigZagTwo {
    display: block;
    position: absolute;
    top: 80%;
    left: 160%;
  }
}

@media screen and (min-width: 998px) {
  .header {
    min-height: 40vh;
    max-height: 40vh;
  }
  .header__wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__textArticle {
    width: 50%;
  }
  .header__imageArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
  }
  .header__paragraph {
    position: absolute;
    top: 260%;
    color: #9c9c9c;
    font-size: 1.4rem;
  }
  .header__image {
    position: absolute;
    top: -130%;
    left: 78%;
    z-index: 1;
  }
  .header__decorationBigYellowCircle {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 500px;
    height: 500px;
    background-color: #ffe400;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__decorationBigYellowCircle::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: #F6F6F6;
    border-radius: 50%;
  }
  .header__decorationZigZagOne {
    left: 110%;
    top: -40%;
  }
  .header__decorationZigZagTwo {
    display: block;
    position: absolute;
    top: 110%;
    left: 60%;
  }
  .header__decorationCircleOne {
    background-color: #151515;
    top: 200%;
    left: 110%;
  }
  .header__decorationTriangleOne {
    display: block;
    width: 50px;
    position: absolute;
    left: -18%;
    top: -40%;
    -webkit-transform: rotate(85deg);
            transform: rotate(85deg);
  }
  .services {
    width: 100vw;
    padding: 50px 20px;
  }
  .services__wrapper {
    width: 1300px;
    max-width: 90vw;
    margin: 0 auto;
  }
  .services__textArticle {
    padding-right: 150px;
  }
  .services__textArticleSecound {
    padding-left: 150px;
    text-align: right;
  }
  .services__imageArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .unorderList {
    text-align: left;
    padding-left: 80px;
  }
  .precontact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 70px 20px;
  }
  .precontact__headingTwo {
    color: white;
    margin-bottom: 0px;
    padding-right: 50px;
  }
  .contact__wrapper {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  }
  .contact__heading {
    font-size: 2.8rem;
    line-height: 1.45;
    color: #151515;
  }
  .contact__image {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .contact__textArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__boxContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contact__decorationBigYellowCircle {
    top: 0%;
    left: -25%;
    width: 350px;
    height: 350px;
  }
  .contact__decorationCircleOne {
    display: block;
    position: absolute;
    top: 1%;
    left: 110%;
    width: 35px;
    height: 35px;
    background-color: #151515;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: circleOneDecoration 1s linear alternate infinite;
            animation: circleOneDecoration 1s linear alternate infinite;
  }
  .contact__decorationCircleOne::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
  }
}
/*# sourceMappingURL=mainServices.css.map */