@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.headingOne {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #151515;
}

.headingTwo {
  font-size: 2.8rem;
  line-height: 1.17;
  font-weight: 400;
  color: #151515;
}

.headingThree {
  font-size: 2.2rem;
  line-height: 1.3;
  color: #151515;
  font-weight: 400;
}

.headingFour {
  font-size: 2.2rem;
  line-height: 1.28;
  color: #151515;
}

.headingFive {
  font-size: 2rem;
  line-height: 1.45;
  color: #151515;
}

.headingSix {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #151515;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 1.72;
  color: #9c9c9c;
}

.listElement {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 1.72;
  color: #9c9c9c;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0px;
}

.listSpan {
  color: #ffe400;
  font-weight: bold;
  font-size: 1.6rem;
  padding-right: 10px;
}

.listSpanBold {
  font-weight: bold;
}

.button {
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 50px;
  border: 2px solid #ffe400;
  background-color: #ffe400;
  padding: 1.5rem 2.5rem;
  -webkit-transition: background-color 0.5s, border 0.5s;
  transition: background-color 0.5s, border 0.5s;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  border: 2px solid #151515;
}

.fontWeight400 {
  font-weight: 500;
}

.margin10 {
  margin: 10px 0px;
}

.margin20 {
  margin: 20px 0px;
}

.white {
  color: #e6e6e6;
}

.spanColorYellow {
  color: #ffe400;
}

@media screen and (min-width: 760px) {
  .headingOne {
    font-size: 4rem;
  }
  .headingTwo {
    font-size: 3rem;
  }
  .headingThree {
    font-size: 2.4rem;
  }
  .headingFour {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .headingOne {
    font-size: 5.6rem;
  }
  .headingTwo {
    font-size: 3.8rem;
  }
  .headingThree {
    font-size: 2.5rem;
  }
}

@-webkit-keyframes zigZag {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes zigZag {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes zigZagTwo {
  0% {
    stroke-dashoffset: 130;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes zigZagTwo {
  0% {
    stroke-dashoffset: 130;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes zigZagThree {
  0% {
    stroke-dashoffset: 140;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes zigZagThree {
  0% {
    stroke-dashoffset: 140;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes circleOneDecoration {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes circleOneDecoration {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes circleGrayDecoration {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes circleGrayDecoration {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes smoke {
  0% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
    scale(1) {
    }
  }
  50% {
    opacity: 1;
    pointer-events: none;
  }
  100% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: translateX(300px) translateY(-300px) rotate(720deg);
            transform: translateX(300px) translateY(-300px) rotate(720deg);
    scale(2) {
    }
  }
}

@keyframes smoke {
  0% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
    scale(1) {
    }
  }
  50% {
    opacity: 1;
    pointer-events: none;
  }
  100% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: translateX(300px) translateY(-300px) rotate(720deg);
            transform: translateX(300px) translateY(-300px) rotate(720deg);
    scale(2) {
    }
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: radial-gradient(#c4c4c4 1px, #0000 0);
  background-position: 50%;
  background-size: 80px 80px;
  overflow-x: hidden;
}

.navigation {
  width: 100vw;
  height: 7vh;
  position: fixed;
  top: 0;
  background-color: white;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(156, 156, 156, 0.3);
          box-shadow: 0px 2px 20px 0px rgba(156, 156, 156, 0.3);
  padding: 20px 20px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navigation__navigation {
  display: none;
}

.navigation__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navigation__heading {
  font-family: 'Pacifico', cursive;
  padding-left: 30px;
}

.navigation__menuButton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation__menuButtonBurger {
  width: 50px;
  height: 3px;
  background: #151515;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation__menuButtonBurger::before, .navigation__menuButtonBurger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #151515;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation__menuButtonBurger::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.navigation__menuButtonBurger::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.navigation__menuButton.activeMobileNavigation .navigation__menuButtonBurger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navigation__menuButton.activeMobileNavigation .navigation__menuButtonBurger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.navigation__menuButton.activeMobileNavigation .navigation__menuButtonBurger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.navigation__linkLogo {
  text-decoration: none;
}

.navigationMobile {
  width: 80vw;
  margin-top: 7vh;
  height: 100vh;
  position: fixed;
  left: -80vw;
  background-color: white;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(156, 156, 156, 0.3);
          box-shadow: 0px 2px 20px 0px rgba(156, 156, 156, 0.3);
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.navigationMobile__elementList {
  color: #9c9c9c;
  font-size: 2rem;
  padding: 20px 20px;
  margin: 10px 0px;
  width: 100%;
  background-color: white;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.navigationMobile__elementList:hover {
  background-color: #ffe400;
  color: #151515;
}

.navigationMobile__bigCircleDecoration {
  position: absolute;
  top: 60%;
  left: -30%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #ffe400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: circleOneDecoration 10s linear alternate infinite;
          animation: circleOneDecoration 10s linear alternate infinite;
}

.navigationMobile__bigCircleDecoration::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: white;
}

.header {
  margin-top: 7vh;
  background-image: radial-gradient(#c4c4c4 1px, #F6F6F6 0);
  background-position: 50%;
  background-size: 80px 80px;
  width: 100vw;
  padding: 50px 20px 40px;
  position: relative;
}

.header__imageArticle {
  display: none;
}

.header__image {
  display: none;
}

.header__paragraph {
  margin-top: 40px;
  color: #9c9c9c;
  font-size: 1.4rem;
}

.header__linkOne {
  text-decoration: none;
  color: #9c9c9c;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__linkTwo {
  text-decoration: none;
  color: #151515;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__spanLinkOne:hover .header__linkOne {
  color: #ffe400;
}

.header__spanLinkTwo:hover .header__linkTwo {
  color: #ffe400;
}

.header__span {
  padding: 0px 7px;
}

.header__decorationZigZagOne, .header__decorationZigZagThree, .header__decorationTriangleTwo, .header__decorationCircleOne {
  display: none;
}

.services {
  width: 100vw;
  padding: 50px 20px;
}

.services__imageArticle {
  display: none;
}

.precontact {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../image/contact-background.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 20px;
}

.precontact__headingTwo {
  color: white;
  margin-bottom: 30px;
}

.contact {
  width: 100vw;
  padding: 50px 20px 0px;
  overflow-x: hidden;
}

.contact__heading {
  font-size: 2rem;
  line-height: 1.45;
  color: #151515;
}

.contact__wrapper {
  width: 100%;
}

.contact__textArticle {
  width: 100%;
  margin: 0px 0px 80px;
}

.contact__boxContact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.contact__boxIcon {
  padding-right: 20px;
}

.contact__icon {
  width: 20px;
}

.contact__iconSocialmedia {
  width: 15px;
  margin-right: 20px;
}

.contact__paragraph {
  font-weight: 400;
}

.contact__imageArticle {
  width: 100%;
  position: relative;
}

.contact__image {
  position: relative;
  width: 100%;
  z-index: 1;
}

.contact__decorationBigYellowCircle {
  position: absolute;
  top: -6%;
  left: -20%;
  width: 300px;
  height: 300px;
  background-color: #ffe400;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__decorationBigYellowCircle::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 40%;
  background-color: white;
  border-radius: 50%;
}

.contact__decorationZigZagOne {
  position: absolute;
  top: -20%;
  left: 70%;
  fill: transparent;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  -webkit-animation: zigZagTwo 2s ease-out alternate infinite;
          animation: zigZagTwo 2s ease-out alternate infinite;
}

.contact__decorationZigZagTwo {
  display: none;
}

.footer {
  padding: 25px 20px;
  background: #151515;
}

.footer__article {
  margin: 20px 0px;
}

.footer__paragraphMain {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  margin: 0px 0px 10px 0px;
}

.footer__paragraphLogo {
  font-family: 'Pacifico', cursive;
}

.footer__link {
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #ffe400;
}

@media screen and (min-width: 768px) {
  .navigation__heading {
    font-size: 3rem;
  }
  .navigationMobile {
    width: 50vw;
    margin-top: 10vh;
    height: 100vh;
    position: fixed;
    left: -80vw;
    background-color: white;
    -webkit-box-shadow: 0px 2px 20px 0px rgba(156, 156, 156, 0.3);
            box-shadow: 0px 2px 20px 0px rgba(156, 156, 156, 0.3);
    z-index: 100;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
  }
  .navigationMobile__bigCircleDecoration {
    width: 450px;
    height: 450px;
  }
  .header {
    margin-top: 7vh;
    overflow: hidden;
  }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .header__textArticle {
    width: 60%;
  }
  .header__imageArticle {
    display: block;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .header__image {
    display: block;
    z-index: 2;
    left: 30%;
    position: relative;
  }
  .header__paragraph {
    margin-top: 40px;
  }
  .header__decorationBigYellowCircle {
    position: absolute;
    top: 50%;
    left: -10%;
    width: 300px;
    height: 300px;
    background-color: #ffe400;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__decorationBigYellowCircle::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: #F6F6F6;
    border-radius: 50%;
  }
  .services {
    width: 100vw;
    padding: 50px 20px;
  }
  .services__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__imageArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__textArticle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contact__decorationZigZagOne {
    position: absolute;
    top: 0%;
    left: 0%;
    fill: transparent;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-animation: zigZagTwo 2s ease-out alternate infinite;
            animation: zigZagTwo 2s ease-out alternate infinite;
  }
  .contact__decorationZigZagTwo {
    display: block;
    position: absolute;
    top: 80%;
    left: 160%;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 40px);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer__firstArticle {
    display: none;
  }
}

@media screen and (min-width: 998px) {
  .navigation {
    background-image: radial-gradient(#c4c4c4 1px, #F6F6F6 0);
    background-position: 50%;
    background-size: 80px 80px;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 8vh;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navigation__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation__menuButton {
    display: none;
  }
  .navigation__heading {
    padding-left: 0px;
    font-size: 3rem;
  }
  .navigation__unorderList {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation__link {
    position: relative;
    font-weight: 400;
    text-decoration: none;
    color: #151515;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    margin: 0px 0px 0px 40px;
  }
  .navigation__link::before {
    content: "";
    position: absolute;
    top: 110%;
    width: 0%;
    height: 3px;
    background-color: #ffe400;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
  .navigation__link:hover::before {
    width: 100%;
  }
  .navigation__scroll {
    background-image: none;
    background-color: white;
    -webkit-box-shadow: 0px 2px 20px 0px rgba(156, 156, 156, 0.3);
            box-shadow: 0px 2px 20px 0px rgba(156, 156, 156, 0.3);
  }
  .header {
    padding: 50px 20px 40px;
  }
  .header__wrapper {
    width: 1300px;
    margin: 0 auto;
  }
  .header__decorationBigYellowCircle {
    top: 40%;
    left: -10%;
    width: 500px;
    height: 500px;
  }
  .header__image {
    left: 50%;
    position: relative;
  }
  .header__decorationZigZagOne {
    display: block;
    position: absolute;
    top: 60%;
    left: -5%;
  }
  .header__decorationCircleOne {
    position: absolute;
    top: 80%;
    left: 110%;
    width: 30px;
    height: 30px;
    background-color: #151515;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: circleOneDecoration 1s 0.3s linear alternate infinite;
            animation: circleOneDecoration 1s 0.3s linear alternate infinite;
  }
  .header__decorationCircleOne::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
  }
  .header__decorationZigZagThree {
    display: block;
    position: absolute;
    top: 0%;
    left: 100%;
    stroke: #000;
    stroke-width: 1px;
    fill: transparent;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-animation: zigZagTwo 3s ease-out alternate infinite;
            animation: zigZagTwo 3s ease-out alternate infinite;
  }
  .header__decorationTriangleTwo {
    display: block;
    position: absolute;
    top: 78%;
    left: -15%;
    width: 50px;
    display: block;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  .services {
    width: 100vw;
    padding: 50px 20px;
  }
  .services__wrapper {
    width: 1300px;
    max-width: 90vw;
    margin: 0 auto;
  }
  .services__textArticle {
    padding-right: 150px;
  }
  .services__textArticleSecound {
    padding-left: 150px;
    text-align: right;
  }
  .services__imageArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .unorderList {
    text-align: left;
    padding-left: 80px;
  }
  .precontact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 70px 20px;
  }
  .precontact__headingTwo {
    color: white;
    margin-bottom: 0px;
    padding-right: 50px;
  }
  .contact__wrapper {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  }
  .contact__heading {
    font-size: 2.8rem;
    line-height: 1.45;
    color: #151515;
  }
  .contact__image {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .contact__textArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__boxContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contact__decorationBigYellowCircle {
    top: 0%;
    left: -25%;
    width: 350px;
    height: 350px;
  }
  .contact__decorationCircleOne {
    display: block;
    position: absolute;
    top: 1%;
    left: 110%;
    width: 35px;
    height: 35px;
    background-color: #151515;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: circleOneDecoration 1s linear alternate infinite;
            animation: circleOneDecoration 1s linear alternate infinite;
  }
  .contact__decorationCircleOne::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
  }
  .footer__firstArticle {
    display: block;
    width: 20%;
  }
}
/*# sourceMappingURL=mainServices.css.map */