@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.headingOne {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #151515;
}

.headingTwo {
  font-size: 2.8rem;
  line-height: 1.17;
  font-weight: 400;
  color: #151515;
}

.headingThree {
  font-size: 2.2rem;
  line-height: 1.3;
  color: #151515;
  font-weight: 400;
}

.headingFour {
  font-size: 2.2rem;
  line-height: 1.28;
  color: #151515;
}

.headingFive {
  font-size: 2rem;
  line-height: 1.45;
  color: #151515;
}

.headingSix {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #151515;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 1.72;
  color: #9c9c9c;
}

.button {
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 50px;
  border: 1px solid #ffe400;
  background-color: #ffe400;
  padding: 1.5rem 2.5rem;
  -webkit-transition: color 0.5s, background-color 0.5s, border 0.5s;
  transition: color 0.5s, background-color 0.5s, border 0.5s;
}

.button:hover {
  color: #ffe400;
  background-color: #151515;
  border: 1px solid #151515;
}

.fontWeight400 {
  font-weight: 500;
}

.margin10 {
  margin: 10px 0px;
}

.margin20 {
  margin: 20px 0px;
}

.white {
  color: #e6e6e6;
}

@media screen and (min-width: 760px) {
  .headingOne {
    font-size: 4rem;
  }
  .headingTwo {
    font-size: 3rem;
  }
  .headingThree {
    font-size: 2.4rem;
  }
  .headingFour {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .headingOne {
    font-size: 5.6rem;
  }
  .headingTwo {
    font-size: 3.8rem;
  }
  .headingThree {
    font-size: 2.5rem;
  }
}

@-webkit-keyframes zigZag {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes zigZag {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes zigZagTwo {
  0% {
    stroke-dashoffset: 130;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes zigZagTwo {
  0% {
    stroke-dashoffset: 130;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes zigZagThree {
  0% {
    stroke-dashoffset: 140;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes zigZagThree {
  0% {
    stroke-dashoffset: 140;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes circleOneDecoration {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes circleOneDecoration {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes circleGrayDecoration {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes circleGrayDecoration {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: radial-gradient(#c4c4c4 1px, #0000 0);
  background-position: 50%;
  background-size: 80px 80px;
  overflow-x: hidden;
}

.header {
  width: 100vw;
  padding: 50px 20px;
  overflow-x: hidden;
}

.header__fontWeight {
  font-weight: 500;
}

.header__wrapper {
  max-width: 1300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
}

.header__imageArticle {
  display: none;
}

.header__decorationZigZagOne, .header__decorationZigZagTwo, .header__decorationZigZagThree, .header__decorationZigZagFour, .header__decorationCircleOne, .header__decorationCircleTwo, .header__decorationTriangleOne, .header__decorationTriangleTwo {
  display: none;
}

.recentProjects {
  width: 100vw;
  padding: 50px 20px;
  position: relative;
  background-color: #F6F6F6;
}

.recentProjects__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.recentProjects__sliderContainer {
  width: 100%;
  height: 100%;
}

.recentProjects__image {
  width: 100%;
}

.recentProjects__textArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.recentProjects__headingThree {
  margin: 20px 0px 40px;
}

.recentProjects__textBox {
  margin-top: 10px;
}

.swiper-slide {
  font-size: 18px;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 130%;
}

.swiper-button-prev--mobile {
  position: absolute;
  top: 91% !important;
  left: 70% !important;
  color: #151515 !important;
}

.swiper-button-next--mobile {
  position: absolute;
  top: 91% !important;
  left: 85% !important;
  color: #151515 !important;
}

.swiper-button-prev--pc,
.swiper-button-next--pc {
  display: none !important;
}

.statistic {
  width: 100vw;
  background-color: #ffe400;
  background-image: radial-gradient(#c4c4c4 1px, #0000 0);
  background-size: 80px 80px;
  padding: 50px 0px 0px;
  z-index: 2;
}

.statistic__textArticle {
  padding: 0px 20px;
}

.statistic__headingThree {
  font-size: 3.2rem;
  font-weight: 500;
}

.statistic__colorBlack {
  color: #151515;
}

.statistic__decorationWhiteCircleImage {
  padding-bottom: 25px;
}

.statistic__statisticsArticle {
  width: 100%;
  padding: 0px 20px;
}

.statistic__boxStatistic {
  width: 100%;
  margin: 50px 0px;
}

.statistic__boxTopStatistic {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.statistic__boxTopIconStatistic {
  position: relative;
}

.statistic__decorationWhiteTraingle {
  position: absolute;
  top: -10%;
  left: 0%;
  width: 25%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.statistic__decorationWhiteTraingle--secound {
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

.statistic__icon {
  position: relative;
  width: 60px;
}

.statistic__boxTopTextStatistic {
  margin-left: 40px;
}

.statistic__boxParagraph {
  color: #151515;
  margin: 0px 0px;
}

.statistic__imageArticle {
  position: relative;
  overflow-x: hidden;
}

.statistic__decorationTriangle {
  position: absolute;
  top: 8%;
  left: 10%;
  width: 350px;
  -webkit-transform: rotate(92deg);
          transform: rotate(92deg);
}

.statistic__image {
  position: relative;
  z-index: 1;
}

.statistic__decorationZigZagOne, .statistic__decorationZigZagTwo, .statistic__decorationZigZagTwo, .statistic__decorationDashOne, .statistic__decorationDashTwo {
  display: none;
}

.services {
  width: 100vw;
  padding: 50px 20px;
}

.services__decorationWhiteCircleImage {
  padding-bottom: 25px;
}

.services__textArticle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.services__boxArticle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.services__box {
  position: relative;
  background-color: #F6F6F6;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 20px 0px;
  border-radius: 10px;
}

.services__box:hover .services__decorationYellowTriangle {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.services__boxIcon {
  position: relative;
}

.services__decorationYellowTriangle {
  position: absolute;
  left: 10%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.services__decorationYellowTriangle--one {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.services__decorationYellowTriangle--two {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.services__decorationYellowTriangle--three {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.services__decorationYellowTriangle--four {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.services__decorationYellowTriangle--five {
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
}

.services__decorationYellowTriangle--six {
  -webkit-transform: rotate(37deg);
          transform: rotate(37deg);
}

.services__icon {
  position: relative;
  width: 60px;
}

.contact {
  width: 100vw;
  padding: 50px 20px 0px;
  overflow-x: hidden;
}

.contact__heading {
  font-size: 2rem;
  line-height: 1.45;
  color: #151515;
}

.contact__wrapper {
  width: 100%;
}

.contact__textArticle {
  width: 100%;
  margin: 0px 0px 80px;
}

.contact__boxContact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.contact__boxIcon {
  padding-right: 20px;
}

.contact__icon {
  width: 20px;
}

.contact__iconSocialmedia {
  width: 15px;
  margin-right: 20px;
}

.contact__paragraph {
  font-weight: 400;
}

.contact__imageArticle {
  width: 100%;
  position: relative;
}

.contact__image {
  position: relative;
  width: 100%;
  z-index: 1;
}

.contact__decorationBigYellowCircle {
  position: absolute;
  top: -6%;
  left: -20%;
  width: 300px;
  height: 300px;
  background-color: #ffe400;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__decorationBigYellowCircle::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 40%;
  background-color: white;
  border-radius: 50%;
}

.contact__decorationZigZagOne {
  position: absolute;
  top: -20%;
  left: 70%;
  fill: transparent;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  -webkit-animation: zigZagTwo 2s ease-out alternate infinite;
          animation: zigZagTwo 2s ease-out alternate infinite;
}

@media screen and (min-width: 768px) {
  .header {
    position: relative;
  }
  .header__textArticle {
    width: 50%;
  }
  .header__imageArticle {
    position: relative;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__image {
    width: 100%;
    z-index: 1;
  }
  .header__decorationZigZagOne {
    display: block;
    position: absolute;
    top: 12.5%;
    left: 85%;
    stroke: #000;
    stroke-width: 2px;
    fill: transparent;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    -webkit-animation: zigZag 2s ease-out alternate infinite;
            animation: zigZag 2s ease-out alternate infinite;
  }
  .header__decorationZigZagTwo {
    display: block;
    position: absolute;
    top: 90%;
    left: 30%;
    stroke: #000;
    stroke-width: 2px;
    fill: transparent;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-animation: zigZagTwo 4s ease-out alternate infinite;
            animation: zigZagTwo 4s ease-out alternate infinite;
  }
  .header__decorationCircleOne {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: #151515;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: circleOneDecoration 1s linear alternate infinite;
            animation: circleOneDecoration 1s linear alternate infinite;
  }
  .header__decorationCircleOne::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
  }
  .recentProjects {
    position: relative;
    overflow: hidden;
  }
  .recentProjects__headingThree {
    z-index: 10;
  }
  .recentProjects__decorationBigGrayCircle {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: absolute;
    top: -10%;
    left: -20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .recentProjects__decorationBigGrayCircle::before {
    content: "";
    width: 40%;
    height: 40%;
    background-color: #F6F6F6;
    border-radius: 50%;
  }
  .swiper-button-prev--mobile {
    left: 82% !important;
  }
  .swiper-button-next--mobile {
    left: 90% !important;
  }
  .statistic {
    position: relative;
    padding: 50px 0px;
  }
  .statistic__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .statistic__textArticle {
    width: 100%;
  }
  .statistic__statisticsArticle {
    width: 50%;
  }
  .statistic__boxStatistic {
    width: 100%;
    margin: 50px 0px 0px;
  }
  .statistic__imageArticle {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .statistic__decorationZigZagOne {
    display: block;
    position: absolute;
    top: -2%;
    left: 55%;
    stroke-dasharray: 140;
    stroke-dashoffset: 140;
    -webkit-animation: zigZagThree 3s ease-out alternate infinite;
            animation: zigZagThree 3s ease-out alternate infinite;
  }
  .statistic__decorationZigZagTwo {
    display: block;
    display: block;
    position: absolute;
    top: 95%;
    left: 45%;
  }
  .statistic__decorationCircleOne {
    display: block;
    position: absolute;
    top: 101%;
    left: 5%;
    width: 25px;
    height: 25px;
    background-color: #151515;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: circleOneDecoration 1s linear alternate infinite;
            animation: circleOneDecoration 1s linear alternate infinite;
  }
  .statistic__decorationCircleOne::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: #ffe400;
    border-radius: 50%;
  }
  .services {
    width: 100vw;
    padding: 50px 20px;
  }
  .services__boxArticle {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__box {
    position: relative;
    background-color: #F6F6F6;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 10px 2.5%;
  }
  .contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__textArticle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contact__decorationZigZagOne {
    position: absolute;
    top: 0%;
    left: 0%;
    fill: transparent;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-animation: zigZagTwo 2s ease-out alternate infinite;
            animation: zigZagTwo 2s ease-out alternate infinite;
  }
  .contact__decorationZigZagTwo {
    position: absolute;
    top: 80%;
    left: 160%;
  }
}

@media screen and (min-width: 998px) {
  .header__decorationZigZagOne {
    top: 8%;
    left: 90%;
  }
  .header__decorationZigZagTwo {
    top: 90%;
    left: -16%;
  }
  .header__decorationZigZagThree {
    display: block;
    position: absolute;
    top: 85%;
    left: 105%;
    stroke: #000;
    stroke-width: 1px;
    fill: transparent;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-animation: zigZagTwo 3s ease-out alternate infinite;
            animation: zigZagTwo 3s ease-out alternate infinite;
  }
  .header__decorationZigZagFour {
    display: block;
    position: absolute;
    top: 65%;
    left: 70%;
  }
  .header__decorationBigYellowCircle {
    position: absolute;
    top: 40%;
    left: 60%;
    width: 450px;
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border-radius: 50%;
    background-color: #ffe400;
  }
  .header__decorationBigYellowCircle::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: white;
  }
  .header__decorationCircleTwo {
    position: absolute;
    top: 13%;
    left: -12%;
    width: 30px;
    height: 30px;
    background-color: #151515;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: circleOneDecoration 1s 0.3s linear alternate infinite;
            animation: circleOneDecoration 1s 0.3s linear alternate infinite;
  }
  .header__decorationCircleTwo::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
  }
  .header__decorationCircleThree {
    position: absolute;
    top: 84%;
    left: 20.5%;
    width: 120px;
    height: 120px;
    background-color: #ffe400;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__decorationCircleThree::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 50%;
  }
  .header__decorationTriangleOne {
    position: absolute;
    top: 11%;
    left: 38.5%;
    width: 50px;
    display: block;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .header__decorationTriangleTwo {
    position: absolute;
    top: 48%;
    left: -10%;
    width: 50px;
    display: block;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  .recentProjects {
    padding: 100px 20px;
  }
  .recentProjects__decorationBigGrayCircle {
    width: 750px;
    height: 750px;
    top: -20%;
    left: -10%;
  }
  .swiper-button-prev--mobile,
  .swiper-button-next--mobile {
    display: none !important;
  }
  .swiper-button-prev--pc {
    display: block !important;
    position: absolute !important;
    left: -3% !important;
    top: 60% !important;
    color: #151515 !important;
  }
  .swiper-button-next--pc {
    display: block !important;
    position: absolute !important;
    right: -3% !important;
    top: 60% !important;
    color: #151515 !important;
  }
  .statistic {
    max-width: 100vw;
  }
  .statistic__wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .statistic__textArticle {
    width: 33%;
  }
  .statistic__statisticsArticle {
    width: 33%;
  }
  .statistic__boxStatistic:hover .statistic__decorationWhiteTraingle {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  .statistic__decorationWhiteTraingle {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .statistic__imageArticle {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
  }
  .statistic__imageArticle:hover .statistic__decorationTriangle {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  .statistic__decorationTriangle {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  .statistic__image {
    width: 80%;
  }
  .statistic__decorationZigZagOne {
    display: block;
    top: 70%;
    left: 110%;
  }
  .statistic__decorationZigZagTwo {
    display: block;
    display: block;
    position: absolute;
    top: 90%;
    left: 15%;
  }
  .statistic__decorationCircleOne {
    display: block;
    position: absolute;
    top: 87%;
    left: -18%;
    width: 25px;
    height: 25px;
    background-color: #151515;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: circleOneDecoration 1s linear alternate infinite;
            animation: circleOneDecoration 1s linear alternate infinite;
  }
  .statistic__decorationDashOne {
    display: block;
    position: absolute;
    top: 10%;
    left: 115%;
  }
  .statistic__decorationDashTwo {
    display: block;
    position: absolute;
    top: 40%;
    left: -10%;
    stroke-width: 2px;
  }
  .services__wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .services__box {
    position: relative;
    background-color: #F6F6F6;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 28%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 1% 1%;
    z-index: 100;
  }
  .services__decorationBigGrayCircle {
    position: absolute;
    top: -30%;
    left: 100%;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: rgba(156, 156, 156, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: circleGrayDecoration 40s linear alternate infinite;
            animation: circleGrayDecoration 40s linear alternate infinite;
  }
  .services__decorationBigGrayCircle::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
  }
  .services__decorationCircleOne {
    display: block;
    position: absolute;
    top: 72%;
    left: -10%;
    width: 25px;
    height: 25px;
    background-color: #151515;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: circleOneDecoration 1s linear alternate infinite;
            animation: circleOneDecoration 1s linear alternate infinite;
  }
  .services__decorationCircleOne::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
  }
  .contact__wrapper {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  }
  .contact__image {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .contact__textArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .contact__boxContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .contact__decorationBigYellowCircle {
    top: 0%;
    left: -25%;
    width: 350px;
    height: 350px;
  }
  .contact__decorationCircleOne {
    display: block;
    position: absolute;
    top: 1%;
    left: 110%;
    width: 35px;
    height: 35px;
    background-color: #151515;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: circleOneDecoration 1s linear alternate infinite;
            animation: circleOneDecoration 1s linear alternate infinite;
  }
  .contact__decorationCircleOne::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
  }
}
/*# sourceMappingURL=main.css.map */