@media screen and ( min-width: 998px )
    .header
        
        &__firstWave
            position: absolute
            top: 15%
            left: 78.5%
            stroke: #000
            stroke-width: 2px
            fill: transparent
            stroke-dasharray: 100
            stroke-dashoffset: 100
            animation: wave 2s ease-out alternate infinite

        &__secoundWave
            position: absolute
            top: 80%
            left: 5%
            stroke: #000
            stroke-width: 2px
            fill: transparent
            stroke-dasharray: 100
            stroke-dashoffset: 100
            animation: wave 3.5s ease-out alternate infinite

        &__thirdWave
            position: absolute
            top: 80%
            left: 85%
            stroke: #000
            stroke-width: 2px
            fill: transparent
            stroke-dasharray: 130
            stroke-dashoffset: 130
            animation: waveThird 3.5s ease-out alternate infinite

        &__firstCircle
            position: absolute
            display: flex
            justify-content: center
            align-items: center
            align-content: center
            width: 40px
            height: 40px
            background-color: #000
            border-radius: 50%
            top: 70%
            left: 52.5%
            animation: circle 1.5s linear alternate infinite

            &::after
                content: ""
                width: 40%
                height: 40%
                background-color: white
                position: absolute
                border-radius: 50%

        &__secoundCircle
            position: absolute
            display: flex
            justify-content: center
            align-items: center
            align-content: center
            width: 40px
            height: 40px
            background-color: #000
            border-radius: 50%
            top: 12%
            left: 5%
            animation: circle 1.5s linear alternate infinite

            &::after
                content: ""
                width: 40%
                height: 40%
                background-color: white
                position: absolute
                border-radius: 50%

        &__bigYellowCircle
            position: absolute
            top: 35%
            left: 70%
            width: 450px
            height: 450px
            border-radius: 50%
            background-color: $yellow
            display: flex
            justify-content: center
            align-items: center
            align-content: center
            z-index: -1

            &::after
                content: ""
                width: 40%
                height: 40%
                background-color: white
                position: absolute
                border-radius: 50%

        &__smallYellowCircle
            position: absolute
            top: 78%
            left: 30%
            width: 100px
            height: 100px
            border-radius: 50%
            background-color: $yellow
            display: flex
            justify-content: center
            align-items: center
            align-content: center
            z-index: -1

            &::after
                content: ""
                width: 30%
                height: 30%
                background-color: white
                position: absolute
                border-radius: 50%

        &__circleWave
            position: absolute
            top: 60%
            left: 78.5%

        &__triangle
            position: absolute
            top: 10%
            transform: rotate(50deg)
            left: 45%
            width: 50px

        &__triangleSecound
            position: absolute
            top: 42%
            transform: rotate(50deg)
            left: 10%
            width: 50px
            

        