@media screen and ( min-width: 768px )
    .header
        position: relative

        &__textArticle
            width: 50%

        &__imageArticle
            position: relative
            width: 50%
            display: flex

        &__image
            width: 100%
            z-index: 1

        &__decorationZigZagOne
            display: block
            position: absolute
            top: 12.5%
            left: 85%
            stroke: #000
            stroke-width: 2px
            fill: transparent
            stroke-dasharray: 100
            stroke-dashoffset: 100
            animation: zigZag 2s ease-out alternate infinite

        &__decorationZigZagTwo
            display: block
            position: absolute
            top: 90%
            left: 30%
            stroke: #000
            stroke-width: 2px
            fill: transparent
            stroke-dasharray: 130
            stroke-dashoffset: 130
            animation: zigZagTwo 4s ease-out alternate infinite

        &__decorationCircleOne
            position: absolute
            top: 70%
            left: 50%
            width: 40px
            height: 40px
            background-color: $black
            border-radius: 50%
            display: flex
            justify-content: center
            align-content: center
            align-items: center
            animation: circleOneDecoration 1s linear alternate infinite

            &::after
                content: ""
                position: absolute
                width: 40%
                height: 40%
                background-color: $white
                border-radius: 50%

    .statistic
        position: relative
        padding: 50px 0px

        &__wrapper
            position: relative
            display: flex
            flex-direction: row
            flex-wrap: wrap

        &__textArticle
            width: 100%

        &__statisticsArticle
            width: 50%  

        &__boxStatistic
            width: 100%
            margin: 50px 0px 0px

        &__imageArticle
            width: 50%
            display: flex
            flex-direction: column
            justify-content: flex-end

        &__decorationZigZagOne
            display: block
            position: absolute
            top: -2%
            left: 55%
            stroke-dasharray: 140
            stroke-dashoffset: 140
            animation: zigZagThree 3s ease-out alternate infinite

        &__decorationZigZagTwo
            display: block
            display: block
            position: absolute
            top: 95%
            left: 45%

        &__decorationCircleOne
            display: block
            position: absolute
            top: 101%
            left: 5%
            width: 25px
            height: 25px
            background-color: $black
            border-radius: 50%
            display: flex
            justify-content: center
            align-content: center
            align-items: center
            animation: circleOneDecoration 1s linear alternate infinite

            &::after
                content: ""
                position: absolute
                width: 40%
                height: 40%
                background-color: $yellow
                border-radius: 50%

    .services
        width: 100vw
        padding: 50px 20px

        &__boxArticle
            width: 100%
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            align-content: center
            flex-wrap: wrap

        &__box
            position: relative
            background-color: #F6F6F6
            padding: 30px
            display: flex
            width: 45%
            flex-direction: column
            justify-content: center
            align-content: center
            align-items: center
            text-align: center
            margin: 10px 2.5%

    .contact

        &__wrapper
            display: flex

        &__textArticle
            order: 1

        &__decorationZigZagOne
            position: absolute
            top: 0%
            left: 0%
            fill: transparent
            stroke-dasharray: 130
            stroke-dashoffset: 130
            animation: zigZagTwo 2s ease-out alternate infinite

        &__decorationZigZagTwo
            position: absolute
            top: 80%
            left: 160%
            
            

        

       
    