@media screen and ( min-width: 768px )
    .header
        
        &__wrapper
            display: flex
            flex-direction: row
            
        &__textArticle
            width: 50%
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            align-items: flex-start

        &__photoArticle
            width: 50%
            display: block

        &__image
            width: 100%

        &__firstWave
            position: absolute
            top: 8%
            left: 85%
            stroke: #000
            stroke-width: 2px
            fill: transparent
            stroke-dasharray: 100
            stroke-dashoffset: 100
            animation: wave 2s ease-out alternate infinite

        &__secoundWave
            position: absolute
            top: 45%
            left: 35%
            stroke: #000
            stroke-width: 2px
            fill: transparent
            stroke-dasharray: 100
            stroke-dashoffset: 100
            animation: wave 3.5s ease-out alternate infinite

        &__firstCircle
            position: absolute
            display: flex
            justify-content: center
            align-items: center
            align-content: center
            width: 40px
            height: 40px
            background-color: #000
            border-radius: 50%
            top: 40%
            left: 55%
            animation: circle 1.5s linear alternate infinite

            &::after
                content: ""
                width: 40%
                height: 40%
                background-color: white
                position: absolute
                border-radius: 50%
                

       
    