@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import "./_topography"
@import "./_keyframes"

*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    scroll-behavior: smooth
    font-family: 'Roboto', sans-serif

body
    background-image: radial-gradient(#c4c4c4 1px, #0000 0)
    background-position: 50%
    background-size: 80px 80px
    overflow-x: hidden

.header
    width: 100vw
    padding: 50px 20px
    overflow-x: hidden

    &__fontWeight
        font-weight: 500

    &__wrapper
        max-width: 1300px
        position: relative
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        align-content: center
        margin: 0 auto

    &__imageArticle
        display: none

    &__decorationZigZagOne,
    &__decorationZigZagTwo,
    &__decorationZigZagThree,
    &__decorationZigZagFour,
    &__decorationCircleOne,
    &__decorationCircleTwo,
    &__decorationTriangleOne,
    &__decorationTriangleTwo
        display: none

.recentProjects
    width: 100vw
    padding: 50px 20px
    position: relative
    background-color: #F6F6F6

    &__wrapper
        width: 100%
        max-width: 1200px
        margin: 0 auto
        position: relative

    &__sliderContainer
        width: 100%
        height: 100%

    &__image
        width: 100%

    &__textArticle
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        text-align: center

    &__headingThree
        margin: 20px 0px 40px

    &__textBox
        margin-top: 10px

.swiper-slide
    font-size: 18px
    background: #F6F6F6
    display: flex
    flex-direction: column
    height: 130%

.swiper-button-prev--mobile
    position: absolute
    top: 91% !important
    left: 70% !important
    color: $black !important

.swiper-button-next--mobile
    position: absolute
    top: 91% !important
    left: 85% !important
    color: $black !important

.swiper-button-prev--pc,
.swiper-button-next--pc
        display: none !important

.yourWebsite
    width: 100vw
    padding: 50px 20px
    background-image: url("../image/biurko-laptop.jpg")

    &__headingArticle
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        text-align: center

    &__headingTwo
        margin: 20px 0px
        color: $white

    &__headingThree
        color: $white
        margin: 10px 0px

    &__icon
        width: 50px

    &__wrapper
        width: 100%

    &__textArticle
        width: 100%

    &__box
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        align-content: center
        text-align: center
        margin: 30px 0px

    &__box:nth-child(1)
        margin: 50px 0px 20px

.statistic
    width: 100vw
    background-color: $yellow
    background-image: radial-gradient(#c4c4c4 1px, #0000 0)
    background-size: 80px 80px
    padding: 50px 0px 0px
    z-index: 2

    &__textArticle
        padding: 0px 20px

    &__headingThree
        font-size: 3.2rem
        font-weight: 500
        
    &__colorBlack
        color: $black

    &__decorationWhiteCircleImage
        padding-bottom: 25px

    &__statisticsArticle
        width: 100%
        padding: 0px 20px

    &__boxStatistic
        width: 100%
        margin: 50px 0px

    &__boxTopStatistic
        position: relative
        width: 100%
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        margin-bottom: 20px

    &__boxTopIconStatistic
        position: relative

    &__decorationWhiteTraingle
        position: absolute
        top: -10%
        left: 0%
        width: 25%
        transform: rotate(-20deg)

        &--secound
            transform: rotate(-70deg)

    &__icon
        position: relative
        width: 60px

    &__boxTopTextStatistic
        margin-left: 40px

    &__boxParagraph
        color: $black
        margin: 0px 0px

    &__imageArticle
        position: relative
        overflow-x: hidden

    &__decorationTriangle
        position: absolute
        top: 8%
        left: 10%
        width: 350px
        transform: rotate(92deg)

    &__image
        position: relative
        z-index: 1

    &__decorationZigZagOne,
    &__decorationZigZagTwo,
    &__decorationZigZagTwo,
    &__decorationDashOne,
    &__decorationDashTwo
        display: none

.services
    width: 100vw
    padding: 50px 20px

    &__decorationWhiteCircleImage
        padding-bottom: 25px

    &__textArticle
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        text-align: center

    &__boxArticle
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        align-content: center

    &__box
        position: relative
        background-color: #F6F6F6
        padding: 30px
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        text-align: center
        margin: 20px 0px
        border-radius: 10px

    &__box:hover .services__decorationYellowTriangle
        transform: rotate(10deg)

    &__boxIcon
        position: relative

    &__decorationYellowTriangle
        position: absolute
        left: 10%
        transition: transform 0.5s

        &--one
            transform: rotate(20deg)

        &--two
            transform: rotate(0deg)

        &--three
            transform: rotate(60deg)

        &--four
            transform: rotate(45deg)
        
        &--five
            transform: rotate(100deg)

        &--six
            transform: rotate(37deg)

    &__icon
        position: relative
        width: 60px

.contact
    width: 100vw
    padding: 50px 20px 0px
    overflow-x: hidden

    &__heading
        font-size: 2rem
        line-height: 1.45
        color: $black

    &__wrapper
        width: 100%

    &__textArticle
        width: 100%
        margin: 0px 0px 80px

    &__boxContact
        width: 100%
        display: flex
        display: flex
        justify-content: flex-start
        align-content: center
        align-items: center
        margin: 20px 0px

    &__boxIcon
        padding-right: 20px

    &__icon
        width: 20px

    &__iconSocialmedia
        width: 15px
        margin-right: 20px
        
    &__paragraph
        font-weight: 400

    &__imageArticle
        width: 100%
        position: relative

    &__image
        position: relative
        width: 100%
        z-index: 1

    &__decorationBigYellowCircle
        position: absolute
        top: -6%
        left: -20%
        width: 300px
        height: 300px
        background-color: $yellow
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center

        &::before
            content: ""
            position: absolute
            width: 40%
            height: 40%
            background-color: $white
            border-radius: 50%

    &__decorationZigZagOne
        position: absolute
        top: -20%
        left: 70%
        fill: transparent
        stroke-dasharray: 130
        stroke-dashoffset: 130
        animation: zigZagTwo 2s ease-out alternate infinite

        

@import "./_medium"
@import "./_large"
