@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import "./_topography"
@import "./_keyframes"

*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    scroll-behavior: smooth
    font-family: 'Roboto', sans-serif

body
    background-image: radial-gradient(#c4c4c4 1px, #0000 0)
    background-position: 50%
    background-size: 80px 80px
    overflow-x: hidden

.header
    position: relative
    width: 100vw
    min-height: 30vh
    max-height: 30vh
    display: flex
    flex-direction: column
    justify-content: center
    background-image: radial-gradient(#c4c4c4 1px, #F6F6F6 0)
    background-position: 50%
    background-size: 80px 80px
    padding: 20px 50px 50px
    overflow: hidden

    &__wrapper
        position: relative

    &__imageArticle
       display: none

    &__paragraph
        position: absolute
        top: 220%
        color: $gray
        font-size: 1.4rem

    &__linkOne,
        text-decoration: none
        color: $gray
        transition: color 0.3s

    &__linkTwo
        text-decoration: none
        color: $black
        transition: color 0.3s

    &__spanLinkOne:hover .header__linkOne
        color: $yellow

    &__spanLinkTwo:hover .header__linkTwo
        color: $yellow

    &__span
        padding: 0px 7px

    &__decorationZigZagOne
        position: absolute
        top: -100%
        left: 70%
        fill: transparent
        stroke-dasharray: 140
        stroke-dashoffset: 140
        animation: zigZagThree 3s ease-out alternate infinite

    &__decorationCircleOne
        position: absolute
        top: 150%
        left: 80%
        width: 30px
        height: 30px
        background-color: $yellow
        border-radius: 50%
        display: flex
        justify-content: center
        align-content: center
        align-items: center
        animation: circleOneDecoration 1s linear alternate infinite

        &::after
            content: ""
            position: absolute
            width: 40%
            height: 40%
            background-color: $white
            border-radius: 50%

    &__decorationTriangleOne,
    &__decorationZigZagTwo
        display: none

.services
    width: 100vw
    padding: 50px 20px

    &__imageArticle
        display: none

.precontact
    width: 100vw
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    text-align: center
    background-image: url("../image/contact-background.webp")
    background-size: cover
    background-position: center
    background-attachment: fixed
    padding: 50px 20px

    &__headingTwo
        color: $white
        margin-bottom: 30px

.contact
    width: 100vw
    padding: 50px 20px 0px
    overflow-x: hidden

    &__heading
        font-size: 2rem
        line-height: 1.45
        color: $black

    &__wrapper
        width: 100%

    &__textArticle
        width: 100%
        margin: 0px 0px 80px

    &__boxContact
        width: 100%
        display: flex
        display: flex
        justify-content: flex-start
        align-content: center
        align-items: center
        margin: 20px 0px

    &__boxIcon
        padding-right: 20px

    &__icon
        width: 20px

    &__iconSocialmedia
        width: 15px
        margin-right: 20px
        
    &__paragraph
        font-weight: 400

    &__imageArticle
        width: 100%
        position: relative

    &__image
        position: relative
        width: 100%
        z-index: 1

    &__decorationBigYellowCircle
        position: absolute
        top: -6%
        left: -20%
        width: 300px
        height: 300px
        background-color: $yellow
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center

        &::before
            content: ""
            position: absolute
            width: 40%
            height: 40%
            background-color: $white
            border-radius: 50%

    &__decorationZigZagOne
        position: absolute
        top: -20%
        left: 70%
        fill: transparent
        stroke-dasharray: 130
        stroke-dashoffset: 130
        animation: zigZagTwo 2s ease-out alternate infinite

    &__decorationZigZagTwo
        display: none

    

    
@import "./_mediumServices"
@import "./_largeServices"
